<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>添加好友</title>
		<link rel="stylesheet" href="../../lib/element-ui/theme-chalk/index.css">
		<link rel="stylesheet" href="../../lib/vxe-table/index.css">
		<link rel="stylesheet" href="../../lib/vxe-table-plugin-element/style.css">
		<link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/expand-table.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
		<script type="text/javascript" src="../../lib/vue/vue.js"></script>
		<script type="text/javascript" src="../../lib/xe-utils/xe-utils.js"></script>
		<script type="text/javascript" src="../../lib/element-ui/index.js"></script>
		<script type="text/javascript" src="../../lib/vxe-table/index.js"></script>
		<script type="text/javascript" src="../../lib/vxe-table-plugin-element/index.js"></script>
		<script type="text/javascript" src="../../lib/xlsx/xlsx.full.min.js"></script>
		<script type="text/javascript" src="../../lib/vxe-table-plugin-export-xlsx/index.min.js"></script>
		<script type="text/javascript" src="../../lib/xe-ajax/xe-ajax.js"></script>
		<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
		<script type="text/javascript" src="../../static/js/webApi.js"></script>
	</head>
	<style type="text/css">
		html,
		body,
		#app,
		.el-container {
			/*设置内部填充为0，几个布局元素之间没有间距*/
			padding: 0px;
			/*外部间距也是如此设置*/
			margin: 0px;
			/*统一设置高度为100%*/
			height: 100%;
		}

		.el-main {
			padding: 4px;
		}
	</style>

	<body>
		<el-container id="app">
			<template>
				<!-- 添加好友模态框 -->
				<vxe-modal ref="xModal" v-model="showApplyModal" title="添加好友" width="600"
					:loading="false" resize destroy-on-close>
					<div style="text-align: center;">

						<vxe-textarea v-model="message" placeholder="输入留言..." maxlength="100"
							show-word-count></vxe-textarea>

						<vxe-button status="primary" content="添加好友" @click="apply"
							style="margin-top: 30px;"></vxe-button>
					</div>

				</vxe-modal>
			</template>

			<el-main>
				<template>
					<el-form :inline="true" :modle="friend" label-width="100px" label-position="right"
						style="min-height: 20px;border: 1px solid #e8eaec;padding: 5px;">
						<el-form-item label="搜索关键字">
							<el-input v-model="friend.keyword" placeholder="支持账号/姓名/手机号关键字查询" style="width: 300px;">
							</el-input>
						</el-form-item>

						<el-form-item>
							<el-button type="primary" icon="el-icon-search" @click="query()">查询</el-button>
						</el-form-item>

					</el-form>
				</template>

				<!-- 表格部分 -->
				<vxe-grid border resizable show-overflow max-height="600" header-align="center" :data="userList"
					:toolbar="tableToolbar" @toolbar-button-click="toolbarButtonClickEvent">
					</vxe-table-column>
					<vxe-table-column type="seq" width="60" title="序号" fixed="left" headerAlign="center" align="center">
					</vxe-table-column>
					<vxe-table-column field="userId" title="账号"></vxe-table-column>
					<vxe-table-column field="nickName" title="姓名"></vxe-table-column>
					<vxe-table-column field="userPhone" title="电话"></vxe-table-column>
					<vxe-table-column field="email" title="邮箱"></vxe-table-column>
					<vxe-table-column field="sex" :formatter="formatSex" title="性别"></vxe-table-column>

					<vxe-table-column field="caozuo" align="center" width="520" title="操作">
						<template v-slot="{row}">
							<vxe-button type="text" content="添加好友" icon="fa fa-hand-pointer-o" @click="add(row)"
								title="添加好友" style="color:#3c8ddb;">
							</vxe-button>
							<vxe-button type="text" content="查看日志" style="display: none;" icon="fa fa-leanpub"
								@click="lookLog(row)" title="查看日志" style="color:#3c8ddb;">
							</vxe-button>
						</template>
					</vxe-table-column>
					<template v-slot:empty>
						<span style="color: red;">
							<img style="margin-top: 30px;" src="../../static/img/img1.gif">
							<p>不用再看了，没有更多数据了！</p>
						</span>
					</template>
				</vxe-grid>
				<vxe-pager style="background: #f8f8f9;" background size="small" :current-page="currentPage"
					:page-size="pageSize" :total="totalSize" @size-change="handleSizeChange"
					@current-change="handleCurrentChange" :page-sizes="[10, 20, 100]"
					:layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Sizes', 'Total']">
				</vxe-pager>
			</el-main>

		</el-container>
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el: "#app",
			data: {
				friend_id: "", //选中的用户ID
				message: "", //留言
				userInfoData: { //当前登录人信息
					userId: null, //当前登录用户账号（userCode）
					userAvatar: "", //用户头像
					userName: "", //用户名
					roleCodes: '' //角色id
				},
				friend: {
					lockNo: '',
					keyword: ''
				},
				showApplyModal: false,
				userList: [], //列表
				tableHeight: '100%',
				tablePage: {
					perfect: true,
					total: 0,
					currentPage: 1,
					pageSize: 10,
					align: 'left',
					pageSizes: [10, 15, 30, 45, 60, 75, 90, 100],
					layouts: ['Sizes', 'PrevJump', 'PrevPage', 'Number', 'NextPage', 'NextJump', 'FullJump',
						'Total'
					],
				},
				totalPage: 0,
				totalSize: 0, //总条数
				currentPage: 1,
				pageSize: 10,
				submitLoading: false,
				totalPageHis: 0,
				totalSizeHis: 0,
				currentPageHis: 1,
				pageSizeHis: 10,
				pageSizeLog: 10,
				totalPageLog: 0,
				totalSizeLog: 0,
				currentPageLog: 1,
				loading: false,
				value: '',
				lock_no: '',
				tableToolbar: {
					state: false,
					id: 'toolbar',
					size: 'mizi',
					perfect: true,
					buttons: [],
					refresh: {
						icon: 'fa fa-refresh',
						iconLoading: 'fa fa-spinner fa-spin'
					},
					zoom: {
						iconIn: 'fa fa-arrows-alt',
						iconOut: 'fa fa-expand'
					},
					custom: {
						icon: 'fa fa-cog',
						storage: true
					},
					/* export: {
					    icon: 'fa fa-share-square-o'
					} */
				}
			},
			filters: {
				formatAddr: function(addr) {
					if (addr == null) {
						return "";
					} else {
						return '地址：' + addr;
					}
				}
			},
			created() {
				// this.userInfoData.userId = getUrlParam("user_id");
			},
			mounted() {},
			methods: {
				getUserList() {
					if (vm.friend.keyword == "") {
						return;
					}
					var that = this;
					var signInputParms = {
						page_size: vm.pageSize,
						current_page: vm.currentPage,
						keyword: (vm.friend.keyword).replace(/\s*/g, ""),
					}
					webApi("/user/getUserList", signInputParms, function(data) {
						var code = data.code;
						var msg = data.msg;
						if (code == 200) {
							var data = data.data;
							var pageNumber = data.pageNumber;
							var pageSize = data.pageSize;
							var totalPage = data.totalPage;
							var totalRow = data.totalRow;
							var rows = data.rows;

							vm.userList = [];
							vm.userList = rows;
							vm.totalSize = totalRow;
							vm.totalPage = totalPage;
						} else {
							vm.$XModal.message({
								message: "哦豁，" + msg + "，请重试哦！",
								status: 'warning'
							});
						}
					}, function(xhr, type, errorThrown) {
						that.$XModal.alert({
							message: '获取用户信息出错!',
							status: 'error'
						})
						return;
					})

				},
				formatSex({
					cellValue
				}) {
					switch (cellValue) {
						case 2:
							return '女';
							break;
						case 1:
							return '男';
							break;
					}
				},
				convertDate(date) {
					var d = new Date(date); //传入时间
					var month = (d.getMonth() + 1) < 10 ? '0' + (d.getMonth() + 1) : (d.getMonth() + 1);
					var day = d.getDate() < 10 ? '0' + d.getDate() : d.getDate();
					var hours = d.getHours() < 10 ? '0' + d.getHours() : d.getHours();
					var min = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes();
					var sec = d.getSeconds() < 10 ? '0' + d.getSeconds() : d.getSeconds();
					var times = d.getFullYear() + '-' + month + '-' + day + " " + hours + ':' + min + ':' + sec;
					return times;
				},
				add(row) {
					this.friend_id = row.userId;
					this.showApplyModal = true;
				},
				apply: function() {
					var that = this;
					var signInputParms = {
						friend_id: this.friend_id,
						friend_message: this.message
					}
					console.log(signInputParms);
					webApi("/friend/addUser", signInputParms, function(data) {
						var code = data.code;
						var msg = data.msg;
						if (code == "200") {
							that.$XModal.alert({
								message: msg,
								status: 'success'
							})
							that.showApplyModal=false;
						} else {
							that.$XModal.alert({
								message: msg,
								status: 'warning'
							})
							if (msg.indexOf("重新登录") != -1) {
								//回到登录页
								window.location.href = '../../login.html';
							}
						}
					}, function(xhr, type, errorThrown) {
						that.$XModal.alert({
							message: '操作出错!',
							status: 'error'
						})
						return;
					})
				},
				toolbarButtonClickEvent({
					code
				}, event) { //表格工具栏事件
					switch (code) {
						case 'repair':
							this.repair();
							break;
						case 'bindLock':
							this.bindLock();
							break;
					}
				},
				handleSizeChangeHis(val) {
					this.pageSizeHis = val;
					this.unlockHis(vm.lockNoHis)
				},
				handleCurrentChangeHis(val) {
					this.currentPageHis = val;
					this.unlockHis(vm.lockNoHis)
				},
				formatTime({
					cellValue
				}) {
					return XEUtils.toDateString(cellValue, 'yyyy-MM-dd HH:mm:ss');
				},
				query() {
					vm.currentPage = 1;
					this.getUserList();
				},
				bindLock() {
					this.showModallock = true;
				},
				handleSizeChange(val) {
					this.pageSize = val;
					this.getUserList();
				},
				handleCurrentChange(val) {
					this.currentPage = val;
					this.getUserList();
				},
				handleSizeChangeLog(val) {
					this.pageSizeLog = val;
					this.getLockLog(this.lock_no);
				},
				handleCurrentChangeLog(val) {
					this.currentPageLog = val;
					this.getLockLog(this.lock_no);
				}
			}
		})
		window.onload = function() {
			vm.getUserList();
		}

		function dateTrans(date) {
			let _date = new Date(parseInt(date));
			let y = _date.getFullYear();
			let m = _date.getMonth() + 1;
			m = m < 10 ? ('0' + m) : m;
			let d = _date.getDate();
			d = d < 10 ? ('0' + d) : d;
			let h = _date.getHours();
			h = h < 10 ? ('0' + h) : h;
			let minute = _date.getMinutes();
			let second = _date.getSeconds();
			minute = minute < 10 ? ('0' + minute) : minute;
			second = second < 10 ? ('0' + second) : second;
			// console.log( y + '-' + m + '-' + d + ' ' + '　' + h + ':' + minute + ':' + second)
			let dates = y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;

			return dates;
		}

		function getUrlParam(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
			var r = window.location.search.substr(1).match(reg); //匹配目标参数
			if (r != null) {
				return unescape(r[2]);
			}
			return null; //返回参数值
		}
	</script>

</html>