<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>用户设置</title>
		<link rel="stylesheet" href="../../lib/element-ui/theme-chalk/index.css">
		<link rel="stylesheet" href="../../lib/vxe-table/index.css">
		<link rel="stylesheet" href="../../lib/vxe-table-plugin-element/style.css">
		<link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/expand-table.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/common.css">

		<script type="text/javascript" src="../../lib/vue/vue.js"></script>
		<script type="text/javascript" src="../../lib/xe-utils/xe-utils.js"></script>
		<script type="text/javascript" src="../../lib/element-ui/index.js"></script>
		<script type="text/javascript" src="../../lib/vxe-table/index.js"></script>
		<script type="text/javascript" src="../../lib/vxe-table-plugin-element/index.js"></script>
		<script type="text/javascript" src="../../lib/vxe-table-plugin-export-xlsx/index.min.js"></script>
		<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
		<script type="text/javascript" src="../../static/js/webApi.js"></script>
	</head>
	<style type="text/css">
		.info_head {
			width: 80px;
			height: 80px;
			border-radius: 100%;
			background-size: 80px;
			cursor: pointer;
		}

		.bgCover {
			height: 420px;
			background-size: 100%;
			padding: 10px 0px 0px 10px;
			display: flex;
			flex-direction: column;
		}

		.info_text {
			font-size: 15px;
			color: grey;
			margin: 10px;
		}

		.avatar_window {
			width: 350px;
			height: 480px;
			background: #FFF;
			box-shadow: 0 0 8px rgba(0, 0, 0, .1);
			border: 1px solid lightgray;
			border-radius: 4px;
			overflow: hidden;
			position: absolute;
			left: 200px;
			top: 30px;
			z-index: 999;
		}

		.uploadBtn {
			margin: 10px;
			padding: 5px 10px 5px 10px;
			border: 1px solid lightgray;
			background-color: white;
			cursor: pointer;
			display: flex;
			align-items: center;
		}

		.uploadBtn:hover {
			border: 1px solid #4169EE;
		}

		#commit {
			border: 1px solid #4A89FD;
			background: #4A89F1;
			color: white;
			padding: 0 8px;
			outline: 0;
			height: 26px;
			width: 80px;
			margin-right: 15px;
			cursor: pointer;
		}

		#commit:hover {
			background: #4169EE;
			color: #fff;
			border: 1px solid #4169EE;
		}

		#cancel {
			border: 1px solid lightgray;
			background: white;
			padding: 0 8px;
			outline: 0;
			height: 26px;
			width: 80px;
			margin-right: 10px;
			cursor: pointer;
		}

		#cancel:hover {
			border: 1px solid #4169EE;
		}
	</style>

	<body>
		<div id="app">
			<template>
				<!-- 更换头像 -->
				<div v-show="uploadAvatarVisible" class="avatar_window">
					<div style="display: flex;">
						<div style="flex: 1;"></div>
						<img @click="closeUpload" src="../../static/img/close2.png"
							style="margin: 3px 6px 0px 0px;height: 20px;width: 20px;cursor: pointer;" />
					</div>

					<el-upload class="upload-demo" :action="fileUploadUrl" :before-remove="beforeRemove" :limit="1"
						:show-file-list="false" :file-list="fileList" :on-preview="filePreviewEvent"
						:on-remove="fileRemoveEvent" :on-success="fileSuccessEvent" :on-error="fileErrorEvent"
						:on-progress="fileProgressEvent" :before-upload="fileBeforeEvent" :on-exceed="fileExceedEvent"
						accept=".jpg,.jpeg,.png,.gif,.JPG,.JPEG,.PBG,.GIF">

						<button @click="upload" class="uploadBtn">
							<img style="height: 19px;width: 19px;" src="../../static/img/upload.png" />
							<span style="font-size: 15px;padding-left: 5px;">
								上传本地照片
							</span>
						</button>
					</el-upload>

					<div style="display: flex;flex-direction: column;align-items: center;width: 100%;height: 360px;">
						<!-- <div style="flex: 1;width: 100%;padding: 10px 10px 10px 10px;">
							<div class="info_head"
								:style="{backgroundImage: 'url('+ imgurl+userInfoData.userAvatar +')'}"
								@click="upload(userInfoData.userAvatar)"></div>
						</div> -->
						<img style="width: 95%;height: 300px;" :src="avatarUrl | formatAvartarUrl" />
					</div>

					<div style="text-align: end;">
						<button @click="commit" id="commit">确定</button>
						<button @click="cancel" id="cancel">取消</button>
					</div>
				</div>
			</template>

			<div style="display: flex;width: 850px;height: 650px;">
				<!-- 左边 -->
				<div style="flex: 1;display: flex;flex-direction: column;">
					<div class="bgCover" :style="{backgroundImage: 'url('+ userInfoData.userBgCover +')'}">
						<div style="display: flex;align-items: center;cursor: pointer;" @click="changeBgCover">
							<img style="height: 19px;width: 19px;" src="../../static/img/cover.png" />
							<span style="color: white;font-size: 15px;">
								更换封面
							</span>
						</div>
						<!-- <div style="flex: 1;"></div> -->
						<div style="flex: 1;display:flex;justify-content: flex-end;align-items: flex-end;">
							<div
								style="height: 70px;width: 70px;background:#808A87;opacity:0.5;display: flex;justify-content: center;align-items: center;">
								<img style="height: 25px;width: 25px;" src="../../static/img/love.png" />
							</div>
						</div>
					</div>
					<div
						style="display: flex;flex-direction: row;justify-content: center;background-color: darkslategray;height: 230px;align-items: center;">

						<div class="info_head" :style="{backgroundImage: 'url('+ imgurl+userInfoData.userAvatar +')'}"
							@click="changeAvatar(userInfoData.userAvatar)" title="点击更换头像"></div>
						<div style="margin-left: 10px;">
							<div><span style="font-size: 22px;color: white;">{{userInfoData.nickName}}</span></div>
							<div>
								<input v-show="isShowSignInput" v-model="personalSign"
									@blur="animateWidth('sign','blur')" v-debounce-input:3000ms="getInputData" />
								<span v-show="isShowSignSpan"
									style="font-size: 14px;color: white;">{{personalSign | formatPersonalSign}}</span>
								<img @click="editSign" src="../../static/img/编辑.png"
									style="margin-bottom: -3px;cursor: pointer;" />
							</div>
						</div>
					</div>
				</div>

				<!-- 右边 -->
				<div style="flex: 1;padding: 20px;">
					<div><span class="info_text">ID：{{userInfoData.userId}}</span></div>
					<div><span class="info_text">昵称：{{userInfoData.nickName}}</span></div>
					<div><span class="info_text">性别：{{userInfoData.sex | formatSex}}</span></div>
					<div><span class="info_text">年龄：{{userInfoData.age}}</span></div>
					<!-- <div><span class="info_text">地区:{{userInfoData.userId}}</span></div> -->
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el: "#app",
			data: {
				isShowSignInput: false,
				isShowSignSpan: true,
				uploadAvatarVisible: false, //是否显示个人头像设置页面
				uploadAvatarLoading: false,
				userInfoData: { //当前登录人信息
					userId: "", //当前登录用户账号
					userAvatar: "", //用户头像
					nickName: "", //昵称
					sex: "", //性别
					age: 0, //年龄
					userName: "", //用户名
					roleCodes: '', //角色id
					userBgCover: '../im/images/bg1.jpg' //用户背景封面
				},
				personalSign: "",
				fileUploadUrl: curl + '/attach/uploadAtt', //文件上传接口
				fileList: [], //上传之后返回的文件路径列表
				avatarUrl: "" //上传成功后的头像url相对路径
			},
			filters: {
				formatAddr: function(addr) {
					if (addr == null) {
						return "";
					} else {
						return '地址：' + addr;
					}
				},
				formatAvartarUrl: function(url) {
					//拼接一下图片服务器地址
					if (url.indexOf("http://") == -1) {
						return imgurl + url;
					}
				},
				formatSex: function(sex) {
					//用户性别： 0：未知/保密 1:男 2:女
					if (sex == 1) {
						return "男";
					} else if (sex == 0) {
						return "未知/保密";
					} else if (sex == 2) {
						return "女";
					} else {
						return "未知";
					}
				},
				formatPersonalSign: function(val) {
					if (val == undefined || val == null || val == "") {
						return "编辑个性签名";
					} else {
						return val;
					}
				}
			},
			watch: {
				personalSign: function(newValue, oldValue) {
					
				}
			},
			created() {

			},
			mounted() {
				this.getUserInfo();
			},
			directives: {
				'debounce-input': { //自定义指令 v-debounce-input
					inserted(el, binding) {
						let timeout
						el.addEventListener('input', () => {
							clearTimeout(timeout)
							timeout = setTimeout(() => {
								binding.value()
							}, parseInt(binding.arg) || 300)
						})
					}
				}
			},
			methods: {
				getInputData: function() {
					// console.log(vm.personalSign);
				},
				animateWidth(name, type) {
					if (type == "blur") {
						if (name == "sign") {
							this.isShowSignInput = false;
							this.isShowSignSpan = true;
							//个人签名input框失去焦点时，提交
							if (this.personalSign != "") {
								//修改用户头像路径
								var that = this;
								var signInputParms = {
									personalSign: this.personalSign
								}
								webApi("/user/updatePersonalSign", signInputParms, function(data) {
									var code = data.code;
									var msg = data.msg;
									if (code == 200) {
										vm.getUserInfo();
										that.$message({
											message: '个性签名更改成功！',
											type: 'success'
										});

									} else {
										that.$XModal.alert({
											message: msg,
											status: 'warning'
										})
									}
								}, function(xhr, type, errorThrown) {
									that.$XModal.alert({
										message: '请求出错啦，请联系大佬超!',
										status: 'error'
									})
									return;
								})
							}
						}
					}
				},
				editSign: function() {
					this.isShowSignInput = true;
					this.isShowSignSpan = false;
				},
				closeUpload: function() {
					this.uploadAvatarVisible = false;
				},
				getUserInfo: function() { //获取用户信息
					var that = this;
					var signInputParms = {}
					webApi("/user/getUser", signInputParms, function(data) {
						var result = data.result;
						var msg = data.msg;
						if (result == "SUCCESS") {
							var userinfo = data.userinfo;
							that.userInfoData.userId = userinfo.userId;
							that.userInfoData.nickName = userinfo.nickName;
							that.userInfoData.sex = userinfo.sex;
							that.userInfoData.age = userinfo.age;
							that.personalSign = userinfo.personalSign;
							if (userinfo.headUrl) {
								that.userInfoData.userAvatar = userinfo.headUrl;
								that.avatarUrl = userinfo.headUrl;
							}

						} else {
							that.$XModal.alert({
								message: msg,
								status: 'warning'
							})
						}
					}, function(xhr, type, errorThrown) {
						that.$XModal.alert({
							message: '请求出错啦，请联系大佬超!',
							status: 'error'
						})
						return;
					})
				},
				changeAvatar: function() {
					this.uploadAvatarVisible = true;
				},
				changeBgCover: function() {

				},
				upload: function() {

				},
				cancel: function() {
					this.uploadAvatarVisible = false;
				},
				commit: function() {
					//修改用户头像路径
					var that = this;
					var signInputParms = {
						avartarUrl: this.avatarUrl
					}
					console.log(signInputParms);
					webApi("/user/updateAvatar", signInputParms, function(data) {
						var code = data.code;
						var msg = data.msg;
						if (code == 200) {
							vm.getUserInfo();
							that.$message({
								message: '操作成功',
								type: 'success'
							});
							that.uploadAvatarVisible = false;

						} else {
							that.$XModal.alert({
								message: msg,
								status: 'warning'
							})
						}
					}, function(xhr, type, errorThrown) {
						that.$XModal.alert({
							message: '请求出错啦，请联系大佬超!',
							status: 'error'
						})
						return;
					})
				},
				filePreviewEvent(file) {

				},
				fileErrorEvent(err, file, fileList) {
					this.showTipsW("图片发送失败咯，请刷新重试！");
				},
				fileProgressEvent(event, file, fileList) {},
				fileBeforeEvent(file) {},
				fileRemoveEvent(file, fileList) {
					if (file.response.code == 200) {

					} else {
						this.$XModal.message({
							message: '删除失败',
							status: 'warning'
						});
					}
				},
				fileSuccessEvent(res, file, fileList) { //图片上传成功回调
					console.log(res)
					if (res.code == 200) {
						var data = res.data;
						var original = data.original;
						var state = data.state;
						var title = data.title;
						var url = data.url;
						var viewUrl = data.viewUrl;

						vm.avatarUrl = viewUrl;

					} else {
						alert(res.msg);
					}
				},
				fileExceedEvent(file, fileList) {
					this.showTipsW("最多上传1张图片");
				},
				beforeRemove(file, fileList) {
					return this.$confirm(`确定移除 ${ file.name }？`);
				}
			}
		})


		function dateTrans(date) {
			let _date = new Date(parseInt(date));
			let y = _date.getFullYear();
			let m = _date.getMonth() + 1;
			m = m < 10 ? ('0' + m) : m;
			let d = _date.getDate();
			d = d < 10 ? ('0' + d) : d;
			let h = _date.getHours();
			h = h < 10 ? ('0' + h) : h;
			let minute = _date.getMinutes();
			let second = _date.getSeconds();
			minute = minute < 10 ? ('0' + minute) : minute;
			second = second < 10 ? ('0' + second) : second;
			// console.log( y + '-' + m + '-' + d + ' ' + '　' + h + ':' + minute + ':' + second)
			let dates = y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;

			return dates;
		}

		function getUrlParam(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
			var r = window.location.search.substr(1).match(reg); //匹配目标参数
			if (r != null) {
				return unescape(r[2]);
			}
			return null; //返回参数值
		}
	</script>

</html>